{%extends 'base.html'%}
{%block title%}
    Home
{%endblock%}

{%block content%}
<div style="background-color: whitesmoke;height: 86vh;border-radius: 2px;padding: 1rem;">
<p>Welcome to Royalty inc. As staff of the company, you are required to work in accordance with the set guidelines to ensure visitors to our front-end site get up to date jobs as well as timely responses to their job applications. </p>
<p>Here are some of the things you can do:</p>

<ul>
    <li>Login,Logout,Create Account</li>
    <li>
        View summary list of posted jobs
    </li>
    <li>View full details of specific job</li>
    <li>Modify job details of specific job</li>
    <li>Remove unavailable job from listing</li>
    <li>Add new jobs</li>
   
    <li>View job applications </li>
    <li>View github profile of the applicant</li>
    <li>Contact applicant via provided email</li>
</ul>
<p>In case of any issue, kindly reach out to your supervisor for assistance.</p>
</div>

{%endblock%}