<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-8">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
      {{job['title']}}
    </h4>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
  </div>

  <div class="col-4">
   <a href="/job/{{job['id']}}" style="text-decoration: none;color: white;">  <button class="btn btn-info mb-1 mt-1">More
      Details </button> </a>

 <a style="text-decoration: none;"
      class="deleteJob" href=""> <button class="btn btn-danger" onclick="confirmDelete()" style="color: black;">  Remove Job</button></a>
  </div>
    
  


  <script type="text/javaScript">
      function confirmDelete(){
        let text="Note: This will permanently remove the job!";
        let anchors=document.querySelectorAll("a.deleteJob")  
        
        if  (confirm(text)==true){    
          anchors.forEach(anchor=>anchor.href="/deleted/{{job['id']}}")
          }
        else{
          anchors.forEach(anchor=>anchor.href="/jobs")
        }
      }
  </script>

</div>