{%extends 'base.html'%}
{%block title%}
{{title}}
{%endblock%}

{%block content%}
    <h3>Title</h3>
    <p>{{title}}</p>
    <h3>Location</h3>
    <p>{{location}}</p>
    <h3>Salary</h3>
    <p>{{salary}}</p>
    <h3>Currency</h3>
    <p>{{currency}}</p>
    <h3>Responsibilities</h3>
    <p>{{responsibilities}}</p>
    <h3>Requirements</h3>
    <p>{{requirements}}</p>
    <div class="d-flex justify-content-center" style="gap: 1rem;">
        <button class="btn btn-secondary"><a href="/job/{{id}}/edit" style="text-decoration: none;color: white;">Edit Job</a></button>
        <button class="btn"><a href="/jobs">Back to HomePage</a></button>
    </div>
   

{%endblock%}
