<nav >
    <div >
      <div>
        <a href="/">
          <img src="./static/hunters-race-MYbhN8KaaEc-unsplash.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Royalty inc.
        </a>
      </div>
      <div style="display: flex;justify-content: space-around;gap: 2vw;">
        {%if current_user.is_authenticated%}
        <div style="color:darkblue;">Admin: {{current_user.username}}</div>
        <a href="/jobs">Posted Jobs</a>
        <a href="/newJobs">Add Jobs</a>
        <a href="/viewApplications">View Applications</a>
        <a href="{{url_for('logout')}}">Logout</a>
        {%else%}
        <a href="{{url_for('registration')}}">Register Account</a>
        <a href="{{url_for('login')}}">Login</a>
        {%endif%}
      </div>
    </div>
  </nav>
  <div style="height:56px"></div>